/* Color constants */
:root {
  --accent: #00A7FF;
  --accent-highlight: #50C7FF;
  --error: #DD3030;
  --footer-height: 36px;
  --smoke: #EFEFFF;
  --smoke-deep: #9797B7;
  --text: #192940;
}

/* Reset default styles */
* {
  box-sizing: border-box;
  color: var(--text);
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 0;
}

a {
  color: var(--accent);
}
button {
  background-color: var(--accent);
  border: none;
  border-radius: 4px;
  color: var(--text);
  cursor: pointer;
  height: 32px;
  transition: background-color 250ms ease-in-out;
}
button:hover {
  background-color: var(--accent-highlight);
  transition: background-color 250ms ease-in-out;
}
button:disabled {
  background-color: var(--smoke-deep);
  cursor: not-allowed;
  transition: background-color 250ms ease-in-out;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
input, textarea {
  background-color: var(--smoke);
  border: none;
  border-radius: 4px;
  padding: 16px;
  transition: background-color 250ms ease-in-out;
}
textarea {
  height: 96px;
  resize: none;
}
input:disabled, textarea:disabled {
  background-color: var(--smoke-deep);
  transition: background-color 250ms ease-in-out;
}

/* Reusable styles */
.flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-space-between {
  justify-content: space-between;
}
.fs-12 {
  font-size: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.text-center {
  text-align: center;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-wrap {
  margin: 0 auto;
  min-height: calc(100vh - var(--footer-height));
  width: 480px;
}
.header {
  font-weight: bold;
  margin-top: 36px;
}
.error {
  color: var(--error);
}
.footer {
  height: var(--footer-height);
}

/* Loader */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid var(--text);
  border-color: var(--text) transparent var(--text) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
